body {
	margin: 0;
	overflow-x: hidden;
}
#e25_4 {
	opacity:1;
	width:2000px;
	height:780px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/eimage_1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#e25_17 {
	opacity:1;
	width:80px;
	height:80px;
	position: relative;
	left: 96vh;
	top:45vh;
	background-image:url(images/codebreaker-3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#e25_2 {
	background-color:rgba(58.70312601327896, 121.92185372114182, 216.75000607967377, 0.5400000214576721);
	opacity:1;
	width:2000px;
	height:778px;
	position:absolute;
	left:0px;
	top:0px;
	background-size: contain;
}
#e25_7 {
	background-color:rgba(53.98385524749756, 63.37865732610226, 96.68749898672104, 0.8299999833106995);
	opacity:1;
	width:2000px;
	height:778px;
	position:absolute;
	left:0px;
	top:778px;
}
#e25_10 {
	background-color:rgba(60.5846406519413, 157.80516743659973, 171.06250405311584, 0.8600000143051147);
	opacity:1;
	width:240px;
	height:60px;
	position: absolute;
	left: calc(50vh + 35vh);
	top: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: auto;
	transition: all ease-in-out .3s;
	border-radius: 10px;
}
#e25_10:hover {
	cursor: pointer;
	background-color: #20B2AA;
	transform: scale(1.1) perspective(1px);
}
.header {
	vertical-align: center;
	position: absolute;
}
#e25_9 {
	color:rgba(71.90025866031647, 106.46514192223549, 158.31250101327896, 1);
	opacity:1;
	width:347px;
	height:72px;
	font-family:Lato;
	font-size:36px;
	letter-spacing:0;
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	display: inline-block;
	line-height: 60px;
}
#e25_15 {
	color:rgba(72.00000330805779, 106.00000128149986, 158.00000578165054, 1);
	opacity:1;
	position: absolute;
	left: calc(50vh - 25vh);
	top: 10vh;
	width:990px;
	height:319px;
	font-family:Lato;
	text-align:center;
	font-size:144px;
	letter-spacing:0;
	line-height:undefined;
}
#e25_16 {
	color: #3D80A6;
	opacity: 1;
	position: absolute;
	left: 72vh;
	top: 35vh;
	width: 381px;
	height: 84px;
	font-family: Lato;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0;
	line-height: undefined;
	font-weight: bold;
}
#e27_18 {
	background-color:rgba(74.0000031888485, 83.00000265240669, 90.00000223517418, 1);
	opacity:1;
	position: absolute;
	width:717px;
	height:6px;
	left: 50vh;
	top: 45vh;
}

#e27_1 {
	color:rgba(127.9736977815628, 195.32335102558136, 224.18749898672104, 1);
	opacity:1;
	position: absolute;
	width:700px;
	height:185px;
	left: 50vh;
	top: 20vh;
	font-family:Lato;
	text-align:center;
	font-size:130px;
	letter-spacing:0;
	line-height:undefined;
}
#e32_0 {
	position:absolute;
	opacity:1;
	width:698px;
	height:213px;
}
#e27_3 {
	color:rgba(127.9736977815628, 195.32335102558136, 224.18749898672104, 1);
	opacity:1;
	width:698px;
	height:213px;
	position:absolute;
	font-family:Lato;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}
#e27_4 {
	border-radius:500px;
	background-color:rgba(127.9736977815628, 195.32335102558136, 224.18749898672104, 1);
	opacity:1;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
